{% extends "base.html" %}
{% block content %}

<h2 class="text-info mb-4">Editar Perfil</h2>

<div class="card bg-dark p-4" style="border:1px solid #0ff;">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.username.label(class="text-light") }}
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.email.label(class="text-light") }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.bio.label(class="text-light") }}
            {{ form.bio(class="form-control", rows="4") }}
        </div>

        <div class="mb-3">
            {{ form.avatar.label(class="text-light") }}
            {{ form.avatar(class="form-control") }}
        </div>

        <button class="btn btn-gamer">Guardar Cambios</button>
    </form>
</div>

{% endblock %}
